/* About Us CSS */

/* About Us Banner Image */

/* 
html:lang(ar) .elementor-2452 .elementor-element.elementor-element-34ff3e2   > .elementor-container>.elementor-row {
flex-direction: row-reverse;

} */

/* Image Content Block Full Section 1*/

html:lang(ar) .elementor-11027 .elementor-element.elementor-element-4bc42326  > .elementor-container>.elementor-row {
flex-direction: row-reverse;

}

/* Image 1 */

html:lang(ar) .elementor-11027 .elementor-element.elementor-element-67e8aaa2 > .elementor-widget-container {
    margin: 0px 0 0px -240px;
}

/* Image Content Block Full Section 2*/

html:lang(ar) .elementor-11027 .elementor-element.elementor-element-76b57c3 > .elementor-element-populated{

	margin: 0px 0px 0px -30px;
}

@media screen and (max-width: 1024px) {
html:lang(ar) .elementor-11027 .elementor-element.elementor-element-67e8aaa2 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
}