/* Interior Design Services Page CSS */


/* Image Content Block Full Section 1*/

html:lang(ar) .elementor-11109 .elementor-element.elementor-element-4bc42326  > .elementor-container>.elementor-row {
flex-direction: row-reverse;
}

/* Image */

html:lang(ar) .elementor-11109 .elementor-element.elementor-element-67e8aaa2 > .elementor-widget-container {
    margin: 0px 0 0px -240px;
}

/* Elementor Button Arrow*/
html:lang(ar) .elementor-11109 .elementor-element.elementor-element-8234944 .elementor-button .elementor-align-icon-left{
		-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

html:lang(ar) .elementor-11109 .elementor-element.elementor-element-8234944 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

/* Project Page CSS */


/* Image Content Block Full Section 1*/

html:lang(ar) .elementor-11103 .elementor-element.elementor-element-4bc42326  > .elementor-container>.elementor-row {
flex-direction: row-reverse;
}

/* Image */

html:lang(ar) .elementor-11103 .elementor-element.elementor-element-67e8aaa2 > .elementor-widget-container {
    margin: 0px 0 0px -240px;
}

/* Elementor Button Arrow*/
html:lang(ar) .elementor-11103 .elementor-element.elementor-element-8234944 .elementor-button .elementor-align-icon-left{
		-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

html:lang(ar) .elementor-11103 .elementor-element.elementor-element-8234944 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}