/* Shop Page CSS */

html:lang(ar) .elementor-11366 .elementor-element.elementor-element-34ff3e2 > .elementor-container>.elementor-row {
	flex-direction: row-reverse;
}

/*Banner*/
html:lang(ar) .elementor-column-wrap--f16578f.elementor-column-wrap.elementor-element-populated .elementor-widget-wrap{
	display: flex;
    justify-content: flex-end;
}
/*Banner Breadcrumb*/
html:lang(ar) .elementor-11366 .elementor-element.elementor-element-bdc2d74 .--dd-menu.--floating-mobile .reyEl-menu-navWrapper .reyEl-menu-nav{	
   flex-direction: row-reverse;	
}
/*Product Deatils*/
html:lang(ar) .rey-cartBtnQty.--style-default {
    flex-direction: row-reverse;
}
html:lang(ar) .summary.entry-summary {
    text-align: right;
}
html:lang(ar) span.save-percent{
	margin-right: 40px !important;
}
html:lang(ar) .woocommerce div.product .rey-innerSummary, .woocommerce-page div.product .rey-innerSummary {
    padding-left: 25px !important;
	padding-right: 0 !important;
}
html:lang(ar) .btn.rey-cartPanel-close.rey-sidePanel-close.js-rey-sidePanel-close{
	
  left:0 !important;
}
/*Cart*/
html:lang(ar) .rey-cartPanel-title {
	text-align:right;
}

html:lang(ar) .woocommerce.rey-cartPanel .woocommerce-mini-cart .woocommerce-mini-cart-item .remove{
	
	left:0 !important;
	right:unset !important
}

html:lang(ar) .woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img{
	float:right !important;
}

html:lang(ar) .woocommerce.rey-cartPanel .woocommerce-mini-cart .woocommerce-mini-cart-item > :not(.remove){
	
	margin-left:0 !important;
	direction: rtl;
}

html:lang(ar) .rey-accountPanel .woocommerce-MyAccount-navigation{
	text-align:right;
}
/*Percentage Off*/
html:lang(ar) .sale-perc{
	left:5%;
	right: unset;
}
/*Pre Order*/
html:lang(ar) .woocommerce ul.products li.product .rey-thPos.rey-thPos--top-left{
	right: var(--woocomerce-thpos-distance);
}
html:lang(ar) .woocommerce ul.products li.product .rey-pBadge span{
	font-size: 12px !important;
    font-weight: normal;
}