.rey-postList {
  --blog-gutter-size: 2.5rem;
}

@media (min-width: 1025px) {
  .rey-postList {
    --blog-gutter-size: 4.0625rem;
  }
}

@media (min-width: 1025px) {
  .rey-postList {
    margin-right: calc(-1 * var(--blog-gutter-size));
    margin-left: calc(-1 * var(--blog-gutter-size));
  }
}

.--has-sidebar .rey-postList {
  margin-right: auto;
  margin-left: auto;
}

.rey-postList .rey-postItem {
  position: relative;
  margin-bottom: 3.125rem;
}

@media (min-width: 768px) {
  .rey-postList .rey-postItem {
    padding-right: var(--blog-gutter-size);
    padding-left: var(--blog-gutter-size);
  }
}

.--has-sidebar.blog--columns-1 .rey-postList .rey-postItem {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 1025px) {
  .rey-postList .rey-postItem {
    margin-bottom: 5rem;
  }
}

@media (min-width: 1025px) {
  .rey-postList .rey-postItem.is-animated-entry {
    opacity: 0;
    -webkit-transform: translateY(50px) scale(0.95);
            transform: translateY(50px) scale(0.95);
    -webkit-transition: opacity 0.3s var(--easeOutCubic), -webkit-transform 0.3s var(--easeOutCubic);
    transition: opacity 0.3s var(--easeOutCubic), -webkit-transform 0.3s var(--easeOutCubic);
    transition: opacity 0.3s var(--easeOutCubic), transform 0.3s var(--easeOutCubic);
    transition: opacity 0.3s var(--easeOutCubic), transform 0.3s var(--easeOutCubic), -webkit-transform 0.3s var(--easeOutCubic);
    will-change: opacity, transform;
  }
  .rey-postList .rey-postItem.is-animated-entry.--animated-in {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

.rey-postItem {
  position: relative;
}

.rey-postHeader {
  margin-bottom: 1.875rem;
}

.rey-postCategories {
  margin-bottom: 1.875rem;
}

.rey-postMedia + .rey-postHeader .rey-postCategories {
  display: none;
}

.rey-postCategories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rey-postCategories li {
  display: inline-block;
  margin: 0 0.3125rem 0.625rem 0;
}

.rey-postCategories a {
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  line-height: 1;
  padding: 0.5rem 0.625rem;
  background-color: hsl(var(--neutral-hue, 210), 7%, 46%);
  color: #fff;
  border-radius: 2px;
  display: block;
  -webkit-transition: 0.2s var(--easeOutCubic);
  transition: 0.2s var(--easeOutCubic);
}

.rey-postCategories a:hover {
  text-decoration: none;
  background-color: hsl(var(--neutral-hue, 210), 10%, 23%);
}

.rey-postTitle {
  font-size: 2rem;
  margin-bottom: 1.875rem;
  letter-spacing: -1px;
  font-family: inherit;
}

@media (min-width: 1025px) {
  .rey-postTitle {
    font-size: 2.375rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.rey-postTitle a {
  text-decoration: none;
}

.rey-postInfo, .rey-postContent-more {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  opacity: 0.7;
}

.rey-postInfo > span, .rey-postContent-more > span {
  display: inline-block;
}

.rey-entryDate:not(:first-child) {
  margin-left: 0.9375rem;
}

.rey-postAuthor + .rey-entryDate {
  margin-left: 0;
}

.rey-postAuthor + .rey-entryDate:before {
  content: ",";
  margin-right: 0.75rem;
  display: inline-block;
}

.rey-editLink {
  margin-left: 0.9375rem;
}

.rey-editLink:before {
  content: "\2022";
  margin-right: 0.75rem;
  display: inline-block;
  font-size: 0.3125rem;
  vertical-align: middle;
  top: -1px;
  left: -2px;
  position: relative;
}

.rey-entryComment {
  margin-left: 0.9375rem;
}

.rey-entryComment:before {
  content: "\2022";
  margin-right: 0.75rem;
  display: inline-block;
  font-size: 0.3125rem;
  vertical-align: middle;
  top: -1px;
  left: -2px;
  position: relative;
}

.rey-entryComment .rey-icon {
  font-size: 1em;
  margin-right: 0.25rem;
}

.rey-postContent {
  font-size: 1.125rem;
}

.rey-postContent a {
  position: relative;
  display: inline-block;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .rey-postContent a {
    text-decoration: none;
  }
}

.rey-postContent a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  display: none;
  top: calc(100% - 0.2em);
  left: 0;
  background: currentColor;
  opacity: 0.2;
  -webkit-transition: height 0.15s var(--easeOutCubic), opacity 0.15s var(--easeOutCubic);
  transition: height 0.15s var(--easeOutCubic), opacity 0.15s var(--easeOutCubic);
}

@media (min-width: 768px) {
  .rey-postContent a:after {
    display: block;
  }
}

.rey-postContent a:hover:after {
  opacity: 0.8;
  height: 4px;
}

.rey-postContent a:hover:after {
  opacity: 0.8;
  height: 3px;
}

.rey-postContent::after {
  display: block;
  clear: both;
  content: "";
}

.rey-postContent img {
  max-width: 100%;
  height: auto;
}

.rey-postContent table {
  table-layout: fixed;
}

@media (min-width: 1025px) {
  .rey-postContent table {
    table-layout: auto;
  }
}

.rey-postContent-more {
  margin-top: 1.875rem;
}

.rey-postContent-more .rey-postDuration {
  text-transform: uppercase;
  display: inline-block;
  margin-left: 0.9375rem;
}

.rey-postContent-more .rey-postDuration:before {
  content: "\2022";
  margin-right: 0.75rem;
  display: inline-block;
  font-size: 0.3125rem;
  vertical-align: middle;
  top: -1px;
  left: -2px;
  position: relative;
}

.rey-postContent-more .rey-post-moreLink {
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rey-postContent-more .rey-post-moreLink:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rey-postMedia {
  position: relative;
  margin-bottom: 1.875rem;
}

.rey-postMedia .rey-postCategories {
  position: absolute;
  left: calc(1rem + 2%);
  bottom: calc(1rem + 2%);
  z-index: 2;
  margin-bottom: 0;
}

@media (min-width: 1025px) {
  .rey-postMedia .rey-postCategories {
    left: calc(2.5rem + 2%);
    bottom: calc(2.5rem + 2%);
  }
  .--has-sidebar .rey-postMedia .rey-postCategories {
    left: calc(1.2rem + 2%);
    bottom: calc(1.2rem + 2%);
  }
}

.rey-postMedia .rey-postCategories a {
  background-color: #fff;
  color: hsl(var(--neutral-hue, 210), 9%, 31%);
}

.rey-postMedia .rey-postCategories a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.single-post .rey-postMedia .rey-postCategories {
  display: none;
}

.rey-postMedia:after {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(20%, transparent), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(to bottom left, transparent 20%, rgba(0, 0, 0, 0.4) 100%);
  -webkit-transition: opacity 0.3s var(--easeOutCubic);
  transition: opacity 0.3s var(--easeOutCubic);
  opacity: 0.2;
}

.rey-postMedia:hover:after {
  opacity: 0.7;
}

.rey-postMedia img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media (min-width: 1025px) {
  .single .rey-postItem .rey-postMedia {
    margin-left: -5rem;
    margin-right: -5rem;
    width: calc(100% + 10rem);
  }
}

.rey-postItem-catText {
  font-size: 14vw;
  font-weight: 600;
  line-height: 1;
  position: absolute;
  opacity: 0.02;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  color: #000;
  top: -50px;
  text-transform: uppercase;
  display: none;
  white-space: nowrap;
  pointer-events: none;
}

@supports (-webkit-text-stroke-color: currentColor) and (-webkit-text-fill-color: transparent) {
  .rey-postItem-catText {
    opacity: 0.04;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: currentColor;
    -webkit-text-stroke-width: 2px;
  }
}

[data-xl="2"] .rey-postItem-catText {
  display: block;
}

[data-xl="2"] .rey-postItem-catText + .rey-postHeader {
  padding-top: 80px;
}

.--has-sidebar .rey-postItem-catText {
  left: calc(100% - var(--sidebar-size) - var(--sidebar-margin));
}

@media (min-width: 1025px) {
  .rey-postItem.format-image.--content-e.has-postImage,
  .rey-postItem.sticky.format-standard {
    position: relative;
    padding-top: 15.625rem;
    padding-bottom: 4.0625rem;
    color: hsl(var(--neutral-hue, 210), 16%, 93%);
    padding-left: calc(var(--blog-gutter-size) + (var(--blog-gutter-size) / 2));
    padding-right: calc(var(--blog-gutter-size) + (var(--blog-gutter-size) / 2));
  }
  .--has-sidebar .rey-postItem.format-image.--content-e.has-postImage, .--has-sidebar
  .rey-postItem.sticky.format-standard {
    padding-left: var(--blog-gutter-size);
    padding-right: var(--blog-gutter-size);
  }
  .rey-postItem.format-image.--content-e.has-postImage a,
  .rey-postItem.sticky.format-standard a {
    color: #fff;
  }
  .rey-postItem.format-image.--content-e.has-postImage .rey-postMedia,
  .rey-postItem.sticky.format-standard .rey-postMedia {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;
    margin-left: 0;
    left: calc(var(--blog-gutter-size) / 2);
    right: calc(var(--blog-gutter-size) / 2);
    width: calc( 100% - var(--blog-gutter-size));
  }
  .--has-sidebar .rey-postItem.format-image.--content-e.has-postImage .rey-postMedia, .--has-sidebar
  .rey-postItem.sticky.format-standard .rey-postMedia {
    left: 0;
    right: 0;
    width: 100%;
  }
  .rey-postItem.format-image.--content-e.has-postImage .rey-postMedia img,
  .rey-postItem.sticky.format-standard .rey-postMedia img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .rey-postItem.format-image.--content-e.has-postImage .rey-postMedia:after,
  .rey-postItem.sticky.format-standard .rey-postMedia:after {
    background: -webkit-gradient(linear, right top, left bottom, color-stop(20%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.9) 100%);
    opacity: 1;
  }
  .rey-postItem.format-image.--content-e.has-postImage .rey-postMedia .rey-postCategories,
  .rey-postItem.sticky.format-standard .rey-postMedia .rey-postCategories {
    display: none;
  }
  .rey-postItem.format-image.--content-e.has-postImage .rey-postHeader,
  .rey-postItem.format-image.--content-e.has-postImage .rey-postContent,
  .rey-postItem.sticky.format-standard .rey-postHeader,
  .rey-postItem.sticky.format-standard .rey-postContent {
    position: relative;
    color: inherit;
  }
  .rey-postItem.format-image.--content-e.has-postImage .rey-postInfo, .rey-postItem.format-image.--content-e.has-postImage .rey-postContent-more,
  .rey-postItem.format-image.--content-e.has-postImage .rey-postContent-more,
  .rey-postItem.sticky.format-standard .rey-postInfo,
  .rey-postItem.sticky.format-standard .rey-postContent-more,
  .rey-postItem.sticky.format-standard .rey-postContent-more {
    color: hsl(var(--neutral-hue, 210), 16%, 93%);
  }
  .rey-postItem.format-image.--content-e.has-postImage .rey-postCategories,
  .rey-postItem.sticky.format-standard .rey-postCategories {
    display: block;
  }
  .rey-postItem.format-image.--content-e.has-postImage .rey-postCategories a,
  .rey-postItem.sticky.format-standard .rey-postCategories a {
    background-color: #fff;
    color: hsl(var(--neutral-hue, 210), 9%, 31%);
  }
  .rey-postItem.format-image.--content-e.has-postImage .rey-postCategories a:hover,
  .rey-postItem.sticky.format-standard .rey-postCategories a:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@media (min-width: 1025px) {
  .rey-postItem.sticky.format-standard:not(.has-post-thumbnail) {
    padding-top: 4.5em;
  }
  .--has-sidebar .rey-postItem.sticky.format-standard:not(.has-post-thumbnail) {
    padding-left: var(--blog-gutter-size);
    padding-right: var(--blog-gutter-size);
  }
  .rey-postItem.sticky.format-standard:not(.has-post-thumbnail):before {
    content: '';
    background-image: linear-gradient(175.9deg, hsl(var(--neutral-hue, 210), 9%, 31%) 7%, hsl(var(--neutral-hue, 210), 10%, 23%) 93.8%);
    position: absolute;
    border-radius: 3px;
    top: 0;
    height: 100%;
    left: calc(var(--blog-gutter-size) / 2);
    right: calc(var(--blog-gutter-size) / 2);
    width: calc( 100% - var(--blog-gutter-size));
    -webkit-transition: -webkit-transform 0.5s var(--easeOutCubic);
    transition: -webkit-transform 0.5s var(--easeOutCubic);
    transition: transform 0.5s var(--easeOutCubic);
    transition: transform 0.5s var(--easeOutCubic), -webkit-transform 0.5s var(--easeOutCubic);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .--has-sidebar .rey-postItem.sticky.format-standard:not(.has-post-thumbnail):before {
    left: 0;
    right: 0;
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .rey-postItem.format-video .rey-postMedia,
  .rey-postItem.format-audio .rey-postMedia,
  .rey-postItem.format-gallery .rey-postMedia {
    width: calc(100% +  var(--blog-gutter-size));
    margin-left: calc( -1 * ( var(--blog-gutter-size) / 2 ));
  }
  .--has-sidebar .rey-postItem.format-video .rey-postMedia, .--has-sidebar
  .rey-postItem.format-audio .rey-postMedia, .--has-sidebar
  .rey-postItem.format-gallery .rey-postMedia {
    width: 100%;
    margin-left: 0;
  }
}

.rey-postFormat__content-bg {
  position: absolute;
  background-color: hsl(var(--neutral-hue, 210), 17%, 98%);
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.5s var(--easeOutCubic);
  transition: -webkit-transform 0.5s var(--easeOutCubic);
  transition: transform 0.5s var(--easeOutCubic);
  transition: transform 0.5s var(--easeOutCubic), -webkit-transform 0.5s var(--easeOutCubic);
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (min-width: 1025px) {
  .rey-postFormat__content-bg {
    left: calc(var(--blog-gutter-size) / 2);
    right: calc(var(--blog-gutter-size) / 2);
    width: calc( 100% - var(--blog-gutter-size));
  }
  .--has-sidebar .rey-postFormat__content-bg {
    left: 0;
    right: 0;
    width: 100%;
  }
}

.rey-postFormat__content-bg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.25;
}

.rey-postItem.rey-postMedia--animated .rey-postFormat__content-bg {
  -webkit-transition: -webkit-clip-path 0.5s var(--easeOutCubic);
  transition: -webkit-clip-path 0.5s var(--easeOutCubic);
  transition: clip-path 0.5s var(--easeOutCubic);
  transition: clip-path 0.5s var(--easeOutCubic), -webkit-clip-path 0.5s var(--easeOutCubic);
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}

.rey-postItem.rey-postMedia--animated .rey-postFormat__content-bg img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s var(--easeOutCubic);
  transition: -webkit-transform 0.5s var(--easeOutCubic);
  transition: transform 0.5s var(--easeOutCubic);
  transition: transform 0.5s var(--easeOutCubic), -webkit-transform 0.5s var(--easeOutCubic);
}

.rey-postItem.rey-postMedia--animated:hover .rey-postFormat__content-bg {
  -webkit-clip-path: inset(10px);
          clip-path: inset(10px);
}

.rey-postItem.rey-postMedia--animated:hover .rey-postFormat__content-bg img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.format-quote.--content-e .rey-postFormat__content {
  padding: 1.875rem;
  font-size: 1.25rem;
  position: relative;
}

@media (min-width: 1025px) {
  .format-quote.--content-e .rey-postFormat__content {
    padding: 3.75rem 1.25rem 3.75rem 3.4375rem;
  }
}

.format-quote.--content-e .rey-postFormat__content .rey-icon-quote {
  left: -5.625rem;
  color: hsl(var(--neutral-hue, 210), 14%, 89%);
}

.format-quote.--content-e .rey-postFormat__content-inner {
  margin-bottom: 1.875rem;
}

.format-quote.--content-e .rey-postInfo, .format-quote.--content-e .rey-postContent-more {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .format-quote.--content-e .rey-postItem-inner {
    position: relative;
  }
}

.format-quote.--content-e blockquote {
  font-size: 1.375rem;
  line-height: 1.4;
  font-weight: var(--font-weight-bold);
  background: none;
  padding: 0;
  border: 0;
  margin: 0;
  font-style: initial;
}

.format-quote.--content-e blockquote:before {
  display: none;
}

@media (min-width: 768px) {
  .format-quote.--content-e blockquote {
    font-size: 1.75rem;
  }
}

.format-quote.--content-e blockquote > p {
  margin-bottom: 0;
}

.format-quote.--content-e blockquote svg.rey-icon-quote {
  font-size: 32px;
}

@media (max-width: 767px) {
  .format-quote.--content-e blockquote svg.rey-icon-quote {
    position: relative;
    top: auto;
    left: auto !important;
    margin-bottom: 1.25rem;
  }
}

.format-quote.--content-e cite {
  margin-top: 1.25rem;
}

.format-quote.--content-e cite a {
  color: hsl(var(--neutral-hue, 210), 7%, 46%);
}

.format-quote.--content-e.has-post-thumbnail,
.format-quote.--content-e.has-post-thumbnail a {
  color: #fff;
}

.format-quote.--content-e.has-post-thumbnail .rey-postFormat__content-bg {
  background-color: hsl(var(--neutral-hue, 210), 10%, 23%);
}

.format-quote.--content-e.has-post-thumbnail cite a {
  color: hsl(var(--neutral-hue, 210), 14%, 83%);
}

.format-quote.--content-e.has-post-thumbnail .rey-postInfo, .format-quote.--content-e.has-post-thumbnail .rey-postContent-more,
.format-quote.--content-e.has-post-thumbnail .rey-postContent-more {
  color: hsl(var(--neutral-hue, 210), 14%, 83%);
}

.format-link.--content-e .rey-postFormat__content {
  padding: 1.875rem;
  font-size: 1.25rem;
  position: relative;
}

@media (min-width: 1025px) {
  .format-link.--content-e .rey-postFormat__content {
    padding: 5rem 5rem 5rem 10rem;
  }
  .--has-sidebar .format-link.--content-e .rey-postFormat__content {
    padding: 3.75rem 3.75rem 3.75rem 6.25rem;
  }
}

.format-link.--content-e .rey-postFormat__content > .rey-icon {
  font-size: 40px;
  color: hsl(var(--neutral-hue, 210), 14%, 89%);
}

@media (min-width: 1025px) {
  .format-link.--content-e .rey-postFormat__content > .rey-icon {
    position: absolute;
    top: calc(50% - 20px);
    left: 4.375rem;
  }
  .--has-sidebar .format-link.--content-e .rey-postFormat__content > .rey-icon {
    left: 2.1875rem;
  }
}

@media (max-width: 1024px) {
  .format-link.--content-e .rey-postItem-inner {
    position: relative;
  }
}

.format-link.--content-e .rey-postFormat__content-inner {
  margin-bottom: 1.875rem;
}

.format-link.--content-e .rey-postFormat__content-inner a {
  text-decoration: underline;
}

.format-link.--content-e .rey-postFormat__content-inner a:hover {
  text-decoration: none;
}

.format-link.--content-e .rey-postFormat__content-inner p:last-child {
  margin-bottom: 0;
}

.format-link.--content-e .rey-postInfo, .format-link.--content-e .rey-postContent-more {
  margin-bottom: 0;
}

.format-status.--content-e .rey-postFormat__content-inner {
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1.875rem;
}

.rey-postThumbnail .rey-postThumbnail-inner {
  display: block;
}

.rey-postThumbnail img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media (min-width: 1025px) {
  .rey-postMedia--animated .rey-postMedia {
    -webkit-transition: -webkit-clip-path 0.5s var(--easeOutCubic);
    transition: -webkit-clip-path 0.5s var(--easeOutCubic);
    transition: clip-path 0.5s var(--easeOutCubic);
    transition: clip-path 0.5s var(--easeOutCubic), -webkit-clip-path 0.5s var(--easeOutCubic);
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
  }
  .rey-postMedia--animated .rey-postMedia img {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s var(--easeOutCubic);
    transition: -webkit-transform 0.5s var(--easeOutCubic);
    transition: transform 0.5s var(--easeOutCubic);
    transition: transform 0.5s var(--easeOutCubic), -webkit-transform 0.5s var(--easeOutCubic);
  }
  .rey-postMedia--animated:hover .rey-postMedia {
    -webkit-clip-path: inset(10px);
            clip-path: inset(10px);
  }
  .rey-postMedia--animated:hover .rey-postMedia img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (min-width: 1025px) {
  .rey-postMedia--animated .rey-postMedia {
    width: calc(100% +  var(--blog-gutter-size));
    margin-left: calc( -1 * ( var(--blog-gutter-size) / 2 ));
  }
}

.--has-sidebar .rey-postMedia--animated .rey-postMedia {
  width: 100%;
  margin-left: 0;
}

.blog--columns-3 .rey-postMedia--animated .rey-postMedia .rey-postCategories,
.blog--columns-4 .rey-postMedia--animated .rey-postMedia .rey-postCategories {
  display: none;
}

.blog--columns-3 .rey-postMedia--animated .rey-postMedia + .rey-postHeader .rey-postCategories,
.blog--columns-4 .rey-postMedia--animated .rey-postMedia + .rey-postHeader .rey-postCategories {
  display: block;
}

.rey-siteMain.--is-bloglist .rey-postList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rey-siteMain.--is-bloglist .rey-postList .rey-postItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / var(--blog-columns));
          flex: 0 0 calc(100% / var(--blog-columns));
  max-width: calc(100% / var(--blog-columns));
}

.rey-siteMain.--is-bloglist.blog--columns-1 .rey-siteMain-inner {
  max-width: 800px;
}

[data-xl="2"] .rey-siteMain.--is-bloglist.blog--columns-1 .rey-siteMain-inner {
  max-width: calc(var(--container-max-width) * 0.65);
}

.blog--columns-2 .rey-postTitle,
.blog--columns-3 .rey-postTitle,
.blog--columns-4 .rey-postTitle {
  margin-bottom: 1.5625rem;
}

.blog--columns-2 .rey-siteMain-inner,
.blog--columns-3 .rey-siteMain-inner,
.blog--columns-4 .rey-siteMain-inner {
  max-width: none;
}

.blog--columns-2 .rey-postTitle {
  font-size: 2rem;
}

[data-xl="2"] .blog--columns-2 .rey-postTitle {
  font-size: 2.625rem;
}

.blog--columns-3 .rey-postList {
  --blog-gutter-size: 1.875rem;
}

@media (min-width: 1025px) {
  .blog--columns-3 .rey-postList {
    --blog-gutter-size: 2.5rem;
  }
}

[data-xl="2"] .blog--columns-3 .rey-postTitle {
  font-size: 1.625rem;
  margin-bottom: 1.125rem;
}

.blog--columns-4 .rey-postList {
  --blog-gutter-size: 1.25rem;
}

.blog--columns-4 .rey-postTitle {
  font-size: 1.25rem;
  margin-bottom: 0.9375rem;
}

[data-xl="2"] .blog--columns-4 .rey-postTitle {
  font-size: 1.875rem;
}

[data-xl="1"] .rey-siteMain.--is-bloglist.blog--columns-4 .rey-postList .rey-postItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

@media (min-width: 1025px) {
  .blog--columns-3 .rey-postContent,
  .blog--columns-4 .rey-postContent {
    font-size: 0.9375rem;
  }
}

.blog--columns-3 .rey-slickCarousel .rey-slick__dots,
.blog--columns-4 .rey-slickCarousel .rey-slick__dots {
  bottom: 20px;
  right: 20px;
}

.blog--columns-3 .format-link .rey-postFormat__content,
.blog--columns-4 .format-link .rey-postFormat__content {
  padding: 1.25rem;
}

.blog--columns-3 .format-link .rey-postFormat__content > .rey-icon,
.blog--columns-4 .format-link .rey-postFormat__content > .rey-icon {
  margin-bottom: 0.625rem;
  position: static;
}

.blog--columns-3 .format-quote .rey-postFormat__content,
.blog--columns-4 .format-quote .rey-postFormat__content {
  padding: 1.875rem;
}

.blog--columns-3 .format-quote .rey-postFormat__content .rey-icon-quote,
.blog--columns-4 .format-quote .rey-postFormat__content .rey-icon-quote {
  position: static;
  margin-bottom: 0.625rem;
}

.rey-postFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.5rem 0;
  padding-top: 2.5rem;
  position: relative;
}

@media (min-width: 1025px) {
  .rey-postFooter {
    margin: 3.125rem 0;
    padding-top: 3.125rem;
  }
}

.rey-postFooter:before {
  content: "";
  height: 1px;
  background-color: hsl(var(--neutral-hue, 210), 16%, 93%);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.rey-postFooter.--empty {
  margin: 0;
  margin-top: 2.5rem;
  padding: 0;
}

@media (min-width: 1025px) {
  .rey-postFooter.--empty {
    margin: 0;
    margin-top: 3.125rem;
  }
}

.rey-postTags a {
  font-size: 0.875rem;
}

@media (min-width: 1025px) {
  .rey-postTags a {
    font-size: 1rem;
  }
}

.rey-postTags a:not(:last-child) {
  margin-right: 0.375rem;
  margin-bottom: 0.375rem;
}

.rey-postAuthor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rey-postAuthor__avatar .avatar {
  margin-right: 2.1875rem;
  border-radius: 3px;
}

.rey-postAuthor__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.rey-postAuthor__by {
  font-size: 0.75rem;
  margin-bottom: 0.625rem;
  display: block;
  line-height: 1;
}

.rey-postAuthor__title {
  font-size: 1.25rem;
  margin-bottom: 0.9375rem;
  font-weight: var(--font-weight-bold);
}

.rey-postAuthor__description {
  margin-bottom: 0.9375rem;
}

.rey-postAuthor__more,
.rey-postAuthor__url {
  font-size: 0.8125rem;
  font-weight: var(--font-weight-bold);
}

.rey-postAuthor__url {
  margin-left: 1.25rem;
}

.rey-postNav {
  margin: 1.25rem 0;
  position: relative;
}

.rey-postNav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rey-postNav .nav-previous,
.rey-postNav .nav-next {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.rey-postNav a {
  text-decoration: none;
}

.rey-postNav a:hover .rey-postNav__title {
  text-decoration: underline;
}

.rey-postNav .nav-next {
  text-align: right;
  padding-left: 0.3em;
}

.rey-postNav .nav-next:only-child {
  margin-left: auto;
}

.rey-postNav .nav-prev {
  padding-right: 0.3em;
}

.rey-postNav .nav-prev:only-child {
  margin-right: auto;
}

.rey-postNav.post-navigation {
  margin: 2.5rem 0 0;
}

@media (min-width: 1025px) {
  .rey-postNav.post-navigation {
    margin: 3.125rem 0 0;
  }
}

.rey-postNav.post-navigation:after {
  top: auto;
  bottom: 0;
}

.rey-postNav.post-navigation br {
  display: none;
}

.rey-postNav__meta {
  font-size: 0.75rem;
  color: hsl(var(--neutral-hue, 210), 11%, 71%);
  font-weight: var(--font-weight-bold);
  display: block;
  text-transform: uppercase;
}

.rey-postNav__title {
  font-size: 0.9375rem;
  word-break: break-word;
}

@media (min-width: 1025px) {
  .rey-postNav__title {
    font-size: 1.125rem;
  }
}

.rey-postComments {
  margin-top: 1.875rem;
}

@media (min-width: 1025px) {
  .rey-postComments {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    max-width: calc(var(--container-max-width) * 0.65);
    margin-top: 3.125rem;
  }
}

.rey-postComments__title {
  margin-bottom: 2.5rem;
  color: hsl(var(--neutral-hue, 210), 7%, 46%);
  font-size: 1.75rem;
}

@media (min-width: 1025px) {
  .rey-postComments__title {
    font-size: 2.375rem;
    letter-spacing: -1px;
  }
}

.rey-postComments__commentList {
  padding-left: 0;
}

.rey-postComments__commentList,
.rey-postComments__commentList ol.children {
  list-style: none;
}

.rey-postComments__commentList ul,
.rey-postComments__commentList ol,
.rey-postComments__commentList ol.children ul,
.rey-postComments__commentList ol.children ol {
  margin-bottom: 1.25rem;
}

.rey-postComments__commentList > .comment {
  background-color: transparent;
}

.rey-postComments__commentList ol.children {
  border-left: 2px solid hsl(var(--neutral-hue, 210), 17%, 98%);
}

.rey-comment {
  margin-bottom: 1.875rem;
  background: hsl(var(--neutral-hue, 210), 17%, 98%);
  padding: 1.875rem;
  border-radius: 3px;
}

.rey-comment__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 1.25rem;
}

.rey-comment__authorAvatar {
  width: 2.25rem;
  margin-right: 1.25rem;
}

.rey-comment__authorAvatar img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 3px;
}

.rey-comment__author {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0;
  text-transform: capitalize;
}

.rey-comment__author .url {
  vertical-align: middle;
}

.rey-comment__byAuthor {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
}

.rey-comment__content {
  margin-bottom: 1.25rem;
}

.rey-comment__commentText a {
  position: relative;
  display: inline-block;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .rey-comment__commentText a {
    text-decoration: none;
  }
}

.rey-comment__commentText a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  display: none;
  top: calc(100% - 0.2em);
  left: 0;
  background: currentColor;
  opacity: 0.2;
  -webkit-transition: height 0.15s var(--easeOutCubic), opacity 0.15s var(--easeOutCubic);
  transition: height 0.15s var(--easeOutCubic), opacity 0.15s var(--easeOutCubic);
}

@media (min-width: 768px) {
  .rey-comment__commentText a:after {
    display: block;
  }
}

.rey-comment__commentText a:hover:after {
  opacity: 0.8;
  height: 4px;
}

.rey-comment__commentText a:hover:after {
  opacity: 0.8;
  height: 3px;
}

.rey-comment__footer {
  color: hsl(var(--neutral-hue, 210), 9%, 31%);
  font-size: 0.875rem;
}

.rey-comment__footer .comment-edit-link {
  display: inline-block;
  margin-left: 0.9375rem;
}

.rey-comment__footer .comment-edit-link:before {
  content: "\2022";
  margin-right: 0.75rem;
  display: inline-block;
  font-size: 0.3125rem;
  vertical-align: middle;
  top: -1px;
  left: -2px;
  position: relative;
}

.rey-comment__date {
  display: inline-block;
}

.rey-comment__reply {
  display: inline-block;
}

.rey-comment__reply:not(:empty) {
  margin-left: 0.9375rem;
}

.rey-comment__reply:not(:empty):before {
  content: "\2022";
  margin-right: 0.75rem;
  display: inline-block;
  font-size: 0.3125rem;
  vertical-align: middle;
  top: -1px;
  left: -2px;
  position: relative;
}

.form-submit .btn.rey-commentForm__submit {
  font-weight: var(--font-weight-bold);
  font-size: 13px;
}

.rey-postNav.comment-navigation {
  margin: 1.25rem 0 2.1875rem;
}

.rey-commentForm__replyTitle {
  padding-top: 1.25rem;
  margin-bottom: 1.5625rem;
  font-size: 1.75rem;
  color: hsl(var(--neutral-hue, 210), 7%, 46%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rey-commentForm__replyTitle small {
  margin-left: auto;
  font-size: 1rem;
}

.rey-commentForm__form .form-row {
  margin-bottom: 1.25rem;
}

.comment-form-cookies-consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
}

.comment-form-cookies-consent label {
  margin-left: 0.625rem;
  font-size: 0.875rem;
}

.comment-form-cookies-consent input[type="checkbox"] {
  margin: .3em 0 0 0;
}

.rey-commentForm__submit {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

.comment .rey-comment {
  margin-bottom: 1.25rem;
}

.comment .comment-respond {
  margin-bottom: 1.5rem;
}

.comment .comment-respond .rey-commentForm__replyTitle {
  padding-top: 0;
}

.rey-pageLinks {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
  clear: both;
}

.rey-pageLinks > span {
  display: inline-block;
  margin: 0 10px;
}

.rey-pageLinks .post-page-numbers:after {
  display: none;
}

.u-borderedPill, .rey-postTags a, .rey-postNav.comment-navigation a, .rey-pageLinks a {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
  padding: 0.625rem 0.875rem;
  background-color: #fff;
  border: 1px solid hsl(var(--neutral-hue, 210), 16%, 93%);
  color: hsl(var(--neutral-hue, 210), 10%, 23%);
  border-radius: 2px;
}

.u-borderedPill:hover, .rey-postTags a:hover, .rey-postNav.comment-navigation a:hover, .rey-pageLinks a:hover {
  text-decoration: none;
  background-color: hsl(var(--neutral-hue, 210), 17%, 98%);
}
